/* GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-txt: #f8f8f8;
    --primary-bg: #333;
    --secondary-bg: #1f18188e;
    --third-bg: #000;
    --danger-bg: rgba(245, 57, 57);
    --success-bg: rgba(27, 221, 27, 0.842); 
    
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--secondary-bg);
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}
.container {
    min-height: 100vh;
}

.statement, .result {
    /* background-color: var(--primary-bg); */
    background-color: var(--secondary-bg);
    padding: 30px;
    border-radius: 10px;
}

.container, .statement, .result, ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

h1, h2 {
    text-align: center;
}

.container p{
    text-align: justify;
}
.result {
    min-height: 80vh;
    /* background-color: darkgreen; */
}


